/* common css area start  */

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  line-height: 0.8;
}

::selection {
  background-color: #036e8a;
  color: #fff;
}

.container {
  width: 1148px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.valign {
  align-items: center;
}

.sec_subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  text-transform: uppercase;
}

.sec_title {
  font-size: 55px;
  font-weight: 700;
  color: #036e8a;
  line-height: normal;
  text-transform: uppercase;
}

.paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

/* common css area end  */

/* Navbar area start  */
#navbar {
  padding: 15px 0;
  background-color: #fff;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 20%;
}

.menu {
  width: 60%;
}

.menu ul {
  display: flex;
  justify-content: center;
  column-gap: 45px;
}

.menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #036e8a;
  line-height: normal;
  text-transform: uppercase;
}

.nav_icon {
  width: 20%;
  display: flex;
  justify-content: end;
  column-gap: 8px;
}

.nav_icon .nav_icon_item {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #036e8a;
  color: #036e8a;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar area end  */

/* Banner area start  */
#banner {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 257px;
  padding-bottom: 200px;
}

.banner_wrapper {
  max-width: 784px;
  margin: 0 auto;
}

.banner_wrapper h1 {
  max-width: 724px;
  font-size: 89px;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 24px;
}

.banner_wrapper p {
  max-width: 783px;
  color: #fff;
  margin-bottom: 45px;
}

.form_inner {
  display: flex;
  column-gap: 15px;
}

.banner_search {
  width: 428px;
  height: 60px;
  border: 1px solid #036e8a;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.banner_search input {
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 95px;
  padding-right: 20px;
  font-size: 20px;
  color: #036e8a;
  font-weight: 400;
}

.banner_search input::placeholder {
  font-size: 20px;
  color: #036e8a;
}

.banner_search i {
  color: #036e8a;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
}

.map_circle {
  width: 58px;
  height: 58px;
  background-color: #ff8000;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .map_circle i {
  color: #fff;
  font-size: 30px;
} */

/* Banner area end  */

/* Destination area start  */
#destination {
  padding-top: 148px;
  padding-bottom: 90px;
  position: relative;
  z-index: 9;
}

.destination_wrapper {
  gap: 80px;
}

.destination_content {
  width: 560px;
}

.destination_content .sec_title {
  margin: 30px 0;
}

.destination_video {
  width: 508px;
  height: 369px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.destination_video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination_video_icon {
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination_video_icon i {
  color: #036e8a;
  font-size: 18px;
}

.book_now {
  margin-top: 70px;
  border: 2px solid #036e8a;
  border-radius: 10px;
  padding: 54px 64px 50px 64px;
}

.location_price {
  display: flex;
  gap: 166px;
}

.location_price .location {
  position: relative;
}

.location_price .location::after {
  position: absolute;
  content: "";
  height: 96px;
  width: 4px;
  background-color: #ff8000;
  right: -81px;
  top: 0;
}

.location h4 {
  font-size: 30px;
  font-weight: 700;
  color: #036e8a;
  line-height: normal;
}

.location ul {
  display: flex;
  column-gap: 15px;
  margin-top: 14px;
}

.location ul li i {
  font-size: 26px;
  color: #ff8000;
}

.location ul li:last-child {
  opacity: 0.5;
}

.price .price_amount {
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  color: #036e8a;
}

.book_now .book_now_ntn a {
  padding: 16px 45px;
  background-color: #ff8000;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  border-radius: 15px;
  text-transform: uppercase;
}
/* Destination area end  */

/* Package area start  */
#package {
  padding-top: 90px;
  padding-bottom: 115px;
}

.package_shape {
  position: relative;
}

.package_shape img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.package_heading {
  text-align: center;
  width: 830px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.package_heading .sec_title {
  font-size: 60px;
  text-transform: capitalize;
}

.package_heading .paragraph {
  margin-top: 23px;
  margin-bottom: 90px;
}

.package_item {
  width: 356px;
  position: relative;
  z-index: 9;
}

.package_item_inner {
  border: 1px solid #036e8a;
  padding: 36px 36px 76px 36px;
  border-radius: 12px;
  position: relative;
  transition: all linear 0.3s;
}

.package_item_inner .sec_title {
  font-size: 40px;
  transition: all linear 0.3s;
}

.package_item_inner .package_price {
  font-size: 60px;
  transition: all linear 0.3s;
}

.package_item_inner h5 {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  color: #036e8a;
  line-height: normal;
  transition: all linear 0.3s;
}

.package_item_inner ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.package_item_inner ul li {
  display: flex;
  align-items: center;
  gap: 13px;
}

.package_item_inner ul li i {
  color: #036e8a;
  font-size: 18px;
  transition: all linear 0.3s;
}

.package_item_inner ul li .disable {
  opacity: 0.5;
}

.package_item_inner ul li span {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: normal;
}

.package_item_inner .package_btn {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: normal;
  background-color: #036e8a;
  padding: 14px 26px;
  border-radius: 15px;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  transition: all linear 0.3s;
}

.package_item_inner:hover {
  border-color: #ff8000;
}

.package_item_inner:hover .sec_title,
.package_item_inner:hover .package_price,
.package_item_inner:hover h5,
.package_item_inner:hover ul li i {
  color: #ff8000;
}

.package_item_inner:hover .package_btn {
  background-color: #ff8000;
}

.package_item .paragraph {
  margin-top: 42px;
  text-align: center;
}
/* Package area end  */

/* featured destinations 2 area start  */
#destinations2 {
  background-color: #036e8a;
  padding: 70px 0;
}

.destinations_shape {
  position: relative;
}

.destinations_shape img {
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
}

.des_wrap {
  position: relative;
  z-index: 9;
}

.destinations2_img {
  width: 508px;
}

.destinations2_img img {
  width: 100%;
  object-fit: cover;
}

.destinations2_content {
  width: 566px;
}

.destinations2_content .sec_subtitle,
.destinations2_content .sec_title,
.destinations2_content .paragraph {
  color: #fff;
}

.destinations2_content .sec_title {
  margin: 30px 0;
}
/* featured destinations 2 area end  */

/* Gallary area start  */
#gallary {
  padding: 110px 0;
}

.gall_shape {
  position: relative;
}

.gall_shape img {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.gallary_heading .sec_title {
  font-size: 60px;
  margin-bottom: 23px;
  text-align: center;
}

.gallary_heading .paragraph {
  max-width: 830px;
  margin: 0 auto;
  text-align: center;
}

.gal_wrap {
  margin-top: 105px;
}

.gallary_item {
  width: 275px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.gallary_item .gallary_item_inner {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.gallary_item .large {
  height: 407px;
}

.gallary_item .small {
  height: 256px;
}

.gallary_item_inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallary_item_inner .overlay {
  position: absolute;
  width: 100%;
  left: 30px;
  bottom: 30px;
}

.gallary_item_inner .overlay h3 {
  font-size: 25px;
  color: #707070;
  font-weight: 700;
  line-height: normal;
}

.gallary_item_inner .overlay h6 {
  font-size: 20px;
  color: #707070;
  font-weight: 400;
  line-height: normal;
}

/* Gallary area end  */

/* Counter area start  */
#counter {
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url(../images/counter_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

#counter::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.counter_item {
  width: 22%;
  text-align: center;
}

.counter_item h3 {
  font-size: 55px;
  font-weight: 700;
  color: #707070;
  line-height: normal;
}

.counter_item span {
  font-size: 30px;
  font-weight: 400;
  color: #707070;
  line-height: normal;
}

/* Counter area end  */

/* Newsletter area start  */
#newsletter {
  padding: 100px 0 130px 0;
}

.newsletter_gall {
  gap: 23px;
  margin-bottom: 20px;
}

.newsletter_gall_item {
  width: 275px;
  height: 240px;
  border-radius: 25px;
  overflow: hidden;
}

.newsletter_gall_item:last-child {
  width: 850px;
}

.newsletter_gall_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter_box_img {
  width: 514px;
  height: 482px;
  border-radius: 25px;
  overflow: hidden;
}

.newsletter_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsletter_box_form {
  width: 566px;
}

.newsletter_box_form .sec_subtitle {
  color: #036e8a;
  padding-top: 80px;
  padding-bottom: 30px;
}

.newsletter_form {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.newsletter_form .form_group {
  position: relative;
}

.newsletter_form .form_group input {
  color: #036e8a;
  border: 1px solid #036e8a;
  padding: 28px 63px 28px 108px;
  border-radius: 15px;
  line-height: normal;
  font-size: 20px;
  font-weight: 400;
  width: 340px;
}

.newsletter_form .form_group input::placeholder {
  color: #036e8a;
}

.newsletter_form .form_group i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(190%, -50%);
  color: #036e8a;
  font-size: 30px;
}

.newsletter_form button {
  background-color: #ff8000;
  border-radius: 15px;
  padding: 22px 40px;
  border: none;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  width: 208px;
  cursor: pointer;
}
/* Newsletter area end  */

/* Brand area start  */
#brand {
  padding-bottom: 120px;
}

.brand_wrapper {
  border: 3px solid #036e8a;
  border-radius: 15px;
  padding: 70px;
}

.brand_item {
  position: relative;
}

.brand_item::after {
  position: absolute;
  content: "";
  height: 73px;
  width: 3px;
  background-color: #036e8a;
  border-radius: 5px;
  right: -63px;
  top: 50%;
  transform: translateY(-50%);
}

.brand_item:last-child::after {
  background-color: transparent;
}
/* Brand area end  */

/* review area start  */
#review {
  padding-bottom: 155px;
}

.review_heading {
  max-width: 829px;
  margin: 0 auto;
  text-align: center;
}

.review_heading .sec_title {
  font-size: 60px;
  margin-bottom: 23px;
}

.review_wrap {
  margin-top: 110px;
  column-gap: 72px;
  row-gap: 77px;
}

.review_item {
  width: 538px;
  background-color: #ffffff;
  box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 40px 59px;
  transition: all linear 0.3s;
}

.review_item .review_img {
  width: 113px;
  height: 113px;
  border-radius: 50%;
  border: 1px solid #707070;
  overflow: hidden;
  margin: 0 auto;
  transition: all linear 0.3s;
}

.review_item .review_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review_content {
  margin-top: 26px;
  text-align: center;
}

.review_content h4 {
  font-size: 25px;
  color: #036e8a;
  font-weight: 500;
  line-height: normal;
  transition: all linear 0.3s;
}

.review_content h5 {
  font-size: 20px;
  color: #262525;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8px;
  transition: all linear 0.3s;
}

.review_content ul {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-bottom: 20px;
}

.review_content ul li i {
  font-size: 14px;
  color: #ff8000;
  transition: all linear 0.3s;
}

.review_content p {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.3s;
}

.review_item:nth-child(odd):hover {
  background-color: #036e8a;
}

.review_item:nth-child(odd):hover .review_content h4,
.review_item:nth-child(odd):hover .review_content h5,
.review_item:nth-child(odd):hover .review_content ul li i,
.review_item:nth-child(odd):hover .review_content p,
.review_item:nth-child(even):hover .review_content h4,
.review_item:nth-child(even):hover .review_content h5,
.review_item:nth-child(even):hover .review_content ul li i,
.review_item:nth-child(even):hover .review_content p {
  color: #ffffff;
}

.review_item:nth-child(odd):hover .review_img {
  border-color: #ffffff;
}

.review_item:nth-child(even):hover {
  background-color: #ff8000;
}

.review_shape {
  position: relative;
}

.review_shape img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -70%);
  z-index: -1;
}
/* review area end  */

/* Message us area start  */
#msg {
  padding-bottom: 120px;
}

.msg_wrapper {
  background-color: #036e8a;
  padding: 85px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.msg_wrapper h2 {
  font-size: 70px;
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 135px;
  position: relative;
}

.msg_wrapper h2::after {
  position: absolute;
  content: "";
  width: 778px;
  height: 3px;
  border-radius: 8px;
  background-color: #fff;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
}

.msg_wrapper p {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  line-height: normal;
  max-width: 665px;
  margin: 0 auto;
  margin-bottom: 103px;
  position: relative;
}

.msg_wrapper p::after {
  position: absolute;
  content: "";
  width: 410px;
  height: 3px;
  border-radius: 8px;
  background-color: #fff;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
}

.msg_wrapper button {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  line-height: normal;
  background-color: #ff8000;
  padding: 20px 67px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.msg_shape img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* Message us area end  */

/* Footer area start  */

.footer_wrap {
  padding-bottom: 98px;
  gap: 80px;
}

.footer_item .footer_title {
  font-size: 25px;
  font-weight: 700;
  color: #036e8a;
  line-height: normal;
  margin-bottom: 70px;
  position: relative;
}

.footer_item .footer_title::after {
  position: absolute;
  content: "";
  width: 142px;
  height: 2px;
  background-color: #036e8a;
  left: 0;
  bottom: -32px;
  border-radius: 5px;
}

.footer_item .footer_nav {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer_item .footer_nav li a {
  font-size: 20px;
  color: #262525;
  font-weight: 400;
  line-height: normal;
  transition: all linear 0.3s;
}

.footer_item .footer_nav li a:hover {
  color: #036e8a;
}

.copy_right {
  background-color: #ff8000;
  padding: 42px 0;
}

.copy_right .paragraph {
  color: #ffffff;
}

.social_media {
  display: flex;
  column-gap: 10px;
}

.social_media .footer_icon_item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer area end  */
